@font-face {
    font-family: "Open Sans";
    src: url(../style/Open_Sans/static/OpenSans/OpenSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

/* page entiere */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: auto;
    display: flex;
}

h1 {
    font-weight: 300;
    color: #999374;
    font-size: 40px; 
}

h3 {
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

/* header */
.imgbgheader {
    background-image: url("../img/bg-header.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
}

.logo {
    padding-top: 60px;
    width: 60%;
}

.nav-color {
    background-color: #999374;
    height: 60px;
}

.nopuces,
ul,
li {
    list-style: none;
    padding: 0px;
}

.nopadding {
    padding: 0px;
}

.logo {
    display: flex;
}

menu {
    justify-content:left;
    color: white;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    align-content: center;
}

.alignement {
    display: flex;
}

.paddingli {
    padding-right: 20px;
}

.reseauxsociaux {
    display: flex;
    align-items: center;
}

.paddingR {
    padding-right: 15px;
    font-size: 35px;
}

.white {
    color: white;
}

/* main */
hr {
    color: #999374;
}

section {
    width: 65%;
    margin-right: 30px;
    padding-right: 20px;
}

section h3 {
    font-size: 24px;
    color: #999374;
}
.aside-title{
    height: 100px;
}
aside {
    width: 35%;
    margin-top: 117px;
    color: #999374;
}

aside p {
    font-weight: 300;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 35px;
}

aside h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.widthimage {
    width: 100%;
    vertical-align: middle;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.grid3col{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}


.bordure {
    border: 4px solid #999374;
}

/* footer */
.imgbghome {
    background-image: url("../img/bg-home.jpg");
    background-attachment: fixed;
    height: 300px;
    background-size: cover;
    position: center;
}

.bgfooter {
    background-color: #999374;
    background-image: url("../img/bg-footer.png") no-repeat;
    z-index: 1;
}

menu h3 {
    font-size: 30px;
}